* {
  box-sizing: border-box;
}

/* UNIVERSAL */

.container-custom {
  height: 100vh;
  align-items: center;
  justify-content: center;
  
  display: flex;
  flex-direction: column;
}



/* NAVBAR */


.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgb(18, 85, 172, 1)!important;
}
.fixed-top {
  backface-visibility: hidden;
  z-index: 999;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #1255ac;
}



/* LOGIN */

form {
  width: 20%;
  text-align: center;
  align-self: center;
}

form input {
  border-radius: 0!important;
}

input:focus {
  outline: none!important;
}